
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
     <div>
     <p>.</p>
    </div>  
  
  
   
   <footer class="x">
     <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

       <div class="me-5 d-none d-lg-block">
         
       </div>
      
       <div>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-facebook-f"></i>
         </a>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-twitter"></i>
         </a>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-google"></i>
         </a>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-instagram"></i>
         </a>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-linkedin"></i>
         </a>
         <a href="" class="me-4 text-reset">
           <i class="fab fa-github"></i>
         </a>
       </div>
       
     </section>
     
     <section class="">
       <div class="container text-center text-md-start mt-5">
         
         <div class="row mt-3">
           
           <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            
             <h6 class="text-uppercase fw-bold mb-4">
              <img  class="s" src="/home/sss.png" width="50" height="50">
               <i class="fas fa-gem me-3"></i>StarSongs
             </h6>
             <p class="u">
                "Passionate about sharing diverse melodies and connecting music lovers worldwide"
             </p>
           </div>
         
           <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          
             <h6 class="text-uppercase fw-bold mb-4">
               Company
             </h6>
            
             <p>
               <a href="{% url 'c' %}" class="text-reset">Reviews</a>
             </p>
             <p>
               <a href="{% url 'register' %}" class="text-reset">Register</a>
             </p>
             <p>
               <a href="{% url 'login' %}" class="text-reset">Login</a>
             </p>
             <p>
               <a href="{% url 'logout' %}" class="text-reset">Logout</a>
             </p>
         
          </div>
          
           <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            
             <h6 class="text-uppercase fw-bold mb-4">
               Useful links
             </h6>
             <p>
               <a href="{% url 'a' %}" class="text-reset">home</a>
             </p>
             <p>
               <a href="{% url 'd' %}" class="text-reset">About</a>
             </p>
             <p>
              <a href="{% url 'f' %}" class="text-reset">Price</a>
             </p>
             <p>
               <a href="{% url 'e' %}" class="text-reset">Help</a>
             </p>
           </div>

         
           
   
          
           <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
      
      
          <h6 class="contact">CONTACT</h6>
          <div class="u">
             <p><i class="fas fa-home me-3"></i>
              AnnaNagarwestern,Chennai,</p> 
             <p>
               <i class="fas fa-envelope me-3"></i>
               StarSongs@gmail.com
             </p>
             <p><i class="fas fa-phone me-3"></i> + 12 123 123 12</p>
             <p><i class="fas fa-print me-3"></i> + 23 234 234 23</p>
           </div>
          </div>
          
         </div>
      
       </div>
     </section>
     
     <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
       © 2021 Copyright:
       <a class="text-reset fw-bold" href="https://www.gmail.com">StarSongs@gmail.com</a>
     </div>
   </div>
    
   </footer>
  
  </footer>
  <style>
   
   
    .text-center {
      margin-top: -30px;
    }
   .x
   {
     background-color: rgb(80, 80, 226);
     height:500px;
     color: white;
     font-size: 20px;
   }
   .s
   {
    margin-top:-20px;
   }
   .contact
   {
    font-size: 25px;
    margin-left: 25px;
    color: red;
   }
   footer{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
   }
   .u{
    font-size: 30px ;
   }
   .text-uppercase {
    font-size: 25px;
    color:red;
   }
  </style>
   